// $subtitle-font-sm: 18px;
// $subtitle-font-xl: 24px;

// .c-subtitle {
//   color: $color-brand-primary;
//   font-weight: 600;

//   @include responsive-type($subtitle-font-sm, $subtitle-font-xl);

//   // @include media-breakpoint-up(md) {

//   // }
// }
