.card {
  box-shadow: $card-box-shadow;

  &--noshadow {
    box-shadow: none;
  }

  // &__main {

  // }

  // &__aside {

  // }

  &__body {
    flex: 1 1 auto;
    padding: 35px 40px;
    text-align: center;

    &--top-border::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 4px;
        // background-image: linear-gradient();
        background-color: theme-color('primary');
      }
    }
  }

  &__image {
    width: 100%;
    margin: 0;
  }

  // &__icon {

  // }

  &__footer {
    padding: $card-spacer-x;
    padding-top: 0;
    text-align: center;
  }

  &__title {
    color: theme-color('secondary');
  }

  &__title-link {
    color: theme-color('secondary');

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &__text {
    margin-bottom: 0;
    color: theme-color('secondary');
    line-height: 1.6;
  }
}
