@mixin btn-hover() {
  background-color: theme-color('secondary');
}

.btn {
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    @include btn-hover;
  }

  // &--primary {

  // }

  &--large {
    @include media-breakpoint-up(sm) {
      padding-left: 7em;
      padding-right: 7em;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

