.navbar {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 25, 117, 0.1);

  @include media-breakpoint-up(lg) {
    background-color: transparent;
    box-shadow: none;
  }

  // .nav-link {

  //   @include media-breakpoint-up(lg) {

  //   }
  // }

  // &__nav {

  //   @include media-breakpoint-up(lg) {
  //   }
  // }

  // &__brand {
  //   @include media-breakpoint-up(xl) {

  //   }
  // }

  // &__logo {

  //   @include media-breakpoint-up(md) {
  //   }
  // }
}
