// .newsletter {
//   &__label {

//   }

//   &__input {

//     @include media-breakpoint-up(lg) {

//     }
//   }

//   &__submit {

//     @include media-breakpoint-up(lg) {

//     }
//   }
// }
