.c-list-features {
  list-style: none;
  padding-left: 2em;
  margin-bottom: 2em;

  &__item {
    position: relative;
    margin-bottom: 0.5em;

    @include media-breakpoint-up(lg) {
      margin-bottom: 1.1em;
    }

    &::before {
      @include background-svg();

      content: "";
      position: absolute;
      top: 3px;
      left: -30px;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
