.c-btn {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  vertical-align: middle;
  background-color: transparent;
  white-space: nowrap;
  text-align: center;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  transition: all 0.1s ease-out;

  @include hocus() {
  }

  &--primary {
    width: 240px;
    height: 58px;
    border-radius: 29px;
    background-color: $color-brand-secondary;
    color: #fff;
  }

  &--large {
    @include media-breakpoint-up(sm) {
      padding-left: 7em;
      padding-right: 7em;
    }
  }

  &--play {
    position: relative;
    width: em(100);
    height: em(100);
    border-radius: 50%;
    background-color: $color-brand-secondary;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 53%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: em(30) 0 em(30) em(34);
      border-color: transparent transparent transparent #fff;
      border-radius: 3px;
      line-height: 0;
    }
  }
}
