.o-section {
  @include responsive-type(15px, 30px, margin-top);
  @include responsive-type(15px, 30px, margin-bottom);

  //
  // Frontpage
  //
  &--frontpage {
    @include responsive-type(40px, 80px, padding-top);
    @include responsive-type(40px, 80px, padding-bottom);
  }

  //
  // Blog
  //
  &--blog {
    @include responsive-type(40px, 80px, margin-top);
    @include responsive-type(40px, 80px, margin-bottom);
  }

  //
  // Contact
  //
  &--contact {
    @include responsive-type(40px, 80px, margin-top);
    @include responsive-type(40px, 80px, margin-bottom);
  }

  //
  // 404
  //
  &--404 {
    @include responsive-type(40px, 80px, margin-top);
    @include responsive-type(40px, 80px, margin-bottom);
  }
}
