.o-article {
  @include responsive-type(40px, 100px, margin-bottom);

  margin-top: 0.5em;

  @include media-breakpoint-up(lg) {
    max-width: 780px;
  }

  &--custom-post {
    @include media-breakpoint-up(lg) {
      max-width: 650px;
    }
  }
}
