/*
Create ratio-bound content blocks, to keep media (e.g. images, videos) in
their correct aspect ratios.
*/

@mixin aspect-ratio($width, $height) {
  padding-bottom: ($height / $width) * 100%;
}

.o-aspect-ratio {
  position: relative;
  display: block;
  overflow: hidden;

  &__fill--full-hd {
    @include aspect-ratio(16, 9);
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*
Create responsive background-image with JavaScript by extracting src from a responsive img
*/

.o-resp-bg-image {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__img {
    display: none;
  }
}
