/*
Create ratio-bound content blocks, to keep media (e.g. images, videos) in
their correct aspect ratios.
*/

@mixin aspect-ratio($width, $height) {
  padding-bottom: ($height / $width) * 100%;
}

.o-ratio {
  position: relative;
  display: block;
  overflow: hidden;

  &__fill--full-hd {
    @include aspect-ratio(16, 9);
  }

  &__fill--16by10 {
    @include aspect-ratio(16, 10);
  }

  &__fill--1by1 {
    @include aspect-ratio(1, 1);
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
