.o-card-deck {
  display: flex;
  flex-direction: column;

  &--wrap-md {
    @include media-breakpoint-up(md) {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  &--wrap-lg {
    @include media-breakpoint-up(lg) {
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-bottom: 15px;

    &--col-3 {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    &--col-2 {
      @include media-breakpoint-up(lg) {
        margin-right: 15px;
        margin-left: 15px;
        flex: 0 0 50%;
      }
    }
  }
}
