/*
CSS is written in BEM with Namespaces and I'd recommend to continue this approach to keep CSS scalable and maintainable for other developers.

CSS architecture is based on ITCSS:
https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

Introduction to BEM:
http://getbem.com/introduction/

How to deal with troubles you'll face in BEM:
https://www.smashingmagazine.com/2016/06/battling-bem-extended-edition-common-problems-and-how-to-avoid-them/

More about Namespaces:
https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
*/

// SETTINGS
@import "settings/all";

// TOOLS
@import "tools/all";

// ELEMENTS
@import "elements/elements.forms";
@import "elements/elements.headings";
@import "elements/elements.images";
@import "elements/elements.links";
@import "elements/elements.lists";
@import "elements/elements.page";
@import "elements/elements.tables";
@import "elements/elements.typography";

// OBJECTS
@import "objects/objects.center";
@import "objects/objects.list-bare";
@import "objects/objects.link-reset";
@import "objects/objects.full-bleed";
@import "objects/objects.ratio";
@import "objects/objects.wrappers";

// COMPONENTS
@import "components/components.alert";
@import "components/components.article";
@import "components/components.buttons";
@import "components/components.bg-image";
@import "components/components.card";
@import "components/components.footer";
@import "components/components.header";
@import "components/components.icon";
@import "components/components.lazyload";
@import "components/components.lead";
@import "components/components.loader";
@import "components/components.list-features";
@import "components/components.list-icons";
@import "components/components.masthead";
@import "components/components.modal";
@import "components/components.navbar";
@import "components/components.nav-primary";
@import "components/components.newsletter";
@import "components/components.section";
@import "components/components.subtitle";
@import "components/components.testimonial";
@import "components/components.title";
@import "components/components.video";
@import "components/components.wp-classes";

// UTILITIES
@import "utilities/utilities.display";

// SCOPES
@import "scopes/scopes.editor";
