/**
 * Simple page-level setup.
 *
 * 1. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  min-height: 100%; /* [1] */
  overflow-x: hidden;
}

body {
  font-family: $body-font-family;
  font-size: rem($body-font-size-lg);

  @include media-breakpoint-only(md) {
    font-size: rem($body-font-size-sm);
  }
}

p {
  line-height: 1.5;
}

/**
Gets rid of the annoying outline for mouse users but preserves it for keyboard users,
and is ignored by browsers that don’t support :focus-visible.
https://twitter.com/LeaVerou/status/1045768279753666562
*/
:focus:not(:focus-visible) {
  outline: none;
}
