ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2em;
  line-height: 1.75;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0.5em;
}
