input,
select,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: gray;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid gray;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.2s ease;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:focus {
    border-color: #000;
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: gray;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: gray;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

// select {
//   padding-right: 25px;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   background-image: url(../images/icon-sort-down.png);
//   background-position: calc(100% - 10px) 50%;
//   background-repeat: no-repeat;

//   // Hide the caret in IE10+.
//   &::-ms-expand {
//     display: none;
//   }
// }

// option {
//   padding: em(10, 16) em(13, 16);
//   white-space: normal;
// }

// label {
//   font-weight: 600;
// }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend .c-btn;
  @extend .c-btn--primary;
}
