// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex:
// $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Colors
//
$theme-colors: (
  'primary'  : #039ae4,
  'secondary': #243d4a,
);

//
// Fonts
//
$responsive-type-min-width: 320px;
$responsive-type-max-width: 1140px;

//
// Hamburger
//
$hamburger-padding-x                       : 0.5rem;
$hamburger-padding-y                       : 0.5rem;
$hamburger-layer-width                     : 25px;
$hamburger-layer-height                    : 1px;
$hamburger-layer-spacing                   : 6px;
$hamburger-layer-color                     : theme-color('primary');
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter                : false;
$hamburger-hover-filter                    : opacity(50%);

// Remove or comment out the hamburger types you don’t want
// or need, so they get excluded from the compiled CSS.
$hamburger-types: (
  // 3dx,
  // 3dx-r,
  // 3dy,
  // 3dy-r,
  // 3dxy,
  // 3dxy-r,
  // arrow,
  // arrow-r,
  // arrowalt,
  // arrowalt-r,
  // arrowturn,
  // arrowturn-r,
  // boring,
  // collapse,
  // collapse-r,
  // elastic,
  // elastic-r,
  // emphatic,
  // emphatic-r,
  // minus,
  slider,
  // slider-r,
  // spring,
  // spring-r,
  // stand,
  // stand-r,
  // spin,
  // spin-r,
  // squeeze,
  // vortex,
  // vortex-r
);
