.u-text-center {
  text-align: center !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-left--md {
  @include media-breakpoint-up(md) {
    text-align: left !important;
  }
}

.u-text-left--lg {
  @include media-breakpoint-up(lg) {
    text-align: left !important;
  }
}
